Term Project Description: Golden Bike Shop Golden, Colorado is a small town situated on the western edge of the Denver metropolitan area. Because of its proximity to Denver and civic improvements,it has seen growth in tourism. Recreational biking, along Clear Creek, is a popular activity. The Golden Bike Shop rents bikes on a daily/hourly basis and has seen growth so that an automated system for rentals and other management functions is needed. What is desired is a web/mobile-based system where customers can reserve and prepay for bike rentals. For customers that have not made advance reservations, there must be option(s) in the store for customers to access the web/mobile system without employee assistance. This system must also handle inventory management for the bikes.  

Bikes available for rental have a number of characteristics to accommodate a wide variety of customers –including young adults interested in higher performance biking, older adults wanting a more comfortable biking experience, bikes forchildren, and other special needs bikes. To accommodate the bicyclist needs, the system must be capable of displaying an inventory of available bikes. The customer must be able to search the inventory for available bikes matching search criteria. The customer must be able to select a group of bikes for rental on a given day. To complete the transaction,the customer enters credit card information and other personal data. The credit card is not charged until after the bikes are returned.  

The in-storeoption(s) for reserving bikes is the same as the web/mobile-based interface with the exception that customers have a credit card swipe capability so that the customer does not need to key in their credit card information. All rentals require a valid credit card. Store employees are available for customers requiring assistance but the goal is to reduce the time employees spend assisting with reservations. Reservations may be changed or cancelled until 24 hours before the scheduled rental time.  

Upon return of a bike the duration of the rental is noted and compared to the requested rental duration. The final rental charge is determined and the credit card is charged. Store employees record any problems with bikes upon their return. A returned bike is out of service until it has been inspected by a store employee. A late fee is assessed if the bike is returned more than 30 minutes after the requested rental return. The late fee is reduced if the renter phones the store to notify that the rental will be late.  Management must be able to set the charge for reservation changes and cancellations. 

Management must also be able to set the bike rental rates. Typically,rates reflect seasonal variations in bike usage. However, rates must also be able to be changed to reflect holidays and other events. Bike rental rates are set by the type of bike –performance, recreational, or other.  Management also must be able to take bikes out of service for maintenance and be able to add bikes to the inventory. Adding a bike to the inventory requires entering data to the system to describe the bike.  

Various reports are needed from the systemsuch as a summary report describing the inventory and summary reports of rental history for the inventory. The system must also be able to report on the rental history for individual bikes, noting how often the bike has been rented and any problems recorded during inspection and maintenance.
